In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
crop_weather = pd.read_csv('./data/Crop_recommendation_with_weather.csv')
crop_weather

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [3]:
crop_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [4]:
crop_weather.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [5]:
crop_weather['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [6]:
crop_weather.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [7]:
crop_weather.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [8]:
# plt.style.use('dark_background')
# # Subplots of chol,age,thalach
# fig,ax = plt.subplots(nrows = 7,
#                  ncols = 1,
#                  figsize = (40,100),
#                  sharex = True)
# for i in range(len(crop_weather.columns)-1):
#     # type(ax[i])
#     scatter = ax[i].scatter(x = crop_weather['label'],
#                             y = crop_weather[crop_weather.columns[i]])
#     ax[i].set(title = f"{crop_weather.columns[i]} vs label",
#               xlabel = 'label',
#               ylabel = f"{crop_weather.columns[i]}")

# plt.show()

In [9]:
x = crop_weather.drop('label',axis = 1)
y = crop_weather['label']

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2,random_state=1)

In [10]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.9977272727272727

In [11]:
ypreds = model.predict(xtest)
print(classification_report(ytest,ypreds))

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        22
      banana       1.00      1.00      1.00        18
   blackgram       1.00      1.00      1.00        22
    chickpea       1.00      1.00      1.00        15
     coconut       1.00      1.00      1.00        18
      coffee       1.00      1.00      1.00        17
      cotton       1.00      1.00      1.00        22
      grapes       1.00      1.00      1.00        29
        jute       0.96      1.00      0.98        25
 kidneybeans       1.00      1.00      1.00        20
      lentil       1.00      1.00      1.00        18
       maize       1.00      1.00      1.00        20
       mango       1.00      1.00      1.00        17
   mothbeans       1.00      1.00      1.00        24
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        26
      orange       1.00      1.00      1.00        15
      papaya       1.00      1.00      1.00        14
  pigeonpeas       1.00      1.00      1.00        19
 pomegranate       1.00      1.00      1.00        23
        rice       1.00      0.92      0.96        13
  watermelon       1.00      1.00      1.00        19

    accuracy                           1.00       440
   macro avg       1.00      1.00      1.00       440
weighted avg       1.00      1.00      1.00       440

In [12]:
model = DecisionTreeClassifier()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.9954545454545455

In [13]:
ypreds = model.predict(xtest)
print(classification_report(ytest,ypreds))

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        22
      banana       1.00      1.00      1.00        18
   blackgram       0.96      1.00      0.98        22
    chickpea       1.00      1.00      1.00        15
     coconut       1.00      1.00      1.00        18
      coffee       1.00      1.00      1.00        17
      cotton       1.00      1.00      1.00        22
      grapes       1.00      1.00      1.00        29
        jute       0.96      1.00      0.98        25
 kidneybeans       1.00      1.00      1.00        20
      lentil       1.00      1.00      1.00        18
       maize       1.00      1.00      1.00        20
       mango       1.00      1.00      1.00        17
   mothbeans       1.00      0.96      0.98        24
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        26
      orange       1.00      1.00      1.00        15
      papaya       1.00      1.00      1.00        14
  pigeonpeas       1.00      1.00      1.00        19
 pomegranate       1.00      1.00      1.00        23
        rice       1.00      0.92      0.96        13
  watermelon       1.00      1.00      1.00        19

    accuracy                           1.00       440
   macro avg       1.00      0.99      1.00       440
weighted avg       1.00      1.00      1.00       440

In [14]:
scaler = StandardScaler()
xtrain_scaled = scaler.fit_transform(xtrain)
xtrain_scaled = pd.DataFrame(xtrain_scaled, columns=crop_weather.columns[:-1])
xtest_scaled = scaler.transform(xtest)
xtest_scaled = pd.DataFrame(xtest_scaled, columns=crop_weather.columns[:-1])

In [15]:
model = KNeighborsClassifier()
model.fit(xtrain_scaled,ytrain)
model.score(xtest_scaled,ytest)

0.9818181818181818

In [16]:
ypreds = model.predict(xtest_scaled)
print(classification_report(ytest,ypreds))

              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        22
      banana       1.00      1.00      1.00        18
   blackgram       0.92      1.00      0.96        22
    chickpea       1.00      1.00      1.00        15
     coconut       1.00      1.00      1.00        18
      coffee       1.00      1.00      1.00        17
      cotton       0.96      1.00      0.98        22
      grapes       1.00      1.00      1.00        29
        jute       0.89      1.00      0.94        25
 kidneybeans       1.00      1.00      1.00        20
      lentil       0.90      1.00      0.95        18
       maize       1.00      0.95      0.97        20
       mango       1.00      1.00      1.00        17
   mothbeans       1.00      0.83      0.91        24
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        26
      orange       1.00      1.00      1.00        15
      papaya       1.00      1.00      1.00        14
  pigeonpeas       1.00      1.00      1.00        19
 pomegranate       1.00      1.00      1.00        23
        rice       1.00      0.77      0.87        13
  watermelon       1.00      1.00      1.00        19

    accuracy                           0.98       440
   macro avg       0.98      0.98      0.98       440
weighted avg       0.98      0.98      0.98       440

In [17]:
from joblib import dump,load
import pickle
# Dump the model as a pickle file
with open('./Model/crop_suggestion.pkl', 'wb') as file:
    pickle.dump(model, file)